<!doctype html>
<html lang="de">
<head>
<link rel="icon" href="/static/img/favicon.ico">
<title>Stadtradeln Synchronizer</title>
<meta charset="utf-8">
</head>
<body>
<br />
This App is intended to replace the manual input for <a href="https://www.stadtradeln.de/">https://www.stadtradeln.de/</a><br />
<br />
<br />
<b>Step 1:</b><br />
<br />
<a href="http://www.strava.com/oauth/authorize?client_id=59281&response_type=code&redirect_uri=https://strava-stadtradeln.koyeb.app/exchange_token&approval_prompt=force&scope=activity:read" target="_blank">
<img src="/static/img/btn_strava_connectwith_orange.png" /></a><br />
<br />
This App needs the permission to read the activities information, in order to get the number of kilometers.<br />
What happens with your data you can see <a href="https://github.com/OlegSkr/stadtradeln/blob/main/app.py#L279" target="_blank">here</a><br />
<br />
<br />
<b>Step 2:</b><br />
<br />
Add your credentials for Stadtradeln<br />
<br />
<img src="/static/img/logo-sr.svg" style="width: 230px" alt="Stadtradeln Logo">
<br />
Your credentials are <a href="https://github.com/OlegSkr/stadtradeln/blob/main/app.py#L57" target="_blank">encrypted</a> and saved in mongodb atlas <a href="https://github.com/OlegSkr/stadtradeln/blob/main/app.py#L185" target="_blank">here</a><br />
And are used to login <a href="https://github.com/OlegSkr/stadtradeln/blob/main/app.py#L107" target="_blank">here</a>, when new Strava activity is being created.<br />
<br />
<br />
ToDos:
<ol>
<li><s>Persist the data between App redeployments</s></li>
<li><s>Encrypt the data at rest</s></li>
<li>Add support for editing and deleting activities</li>
<li>Do better exception handling, especially in case of 4XX HTTP responses</li>
<li><s>Clean up the code</s></li>
<li><s>Use logging instead of stdout</s></li>
<li><s>Do not write critical data into logs (or only on the DEBUG level)</s></li>
<li>Replace bash curl calls with python requests if possible</li>
<li>Upload more detailed data to Stadtradeln if user agrees and Stadtradeln allows to do that</li>
</ol>
<br />
Source Code of this App can be found here: <a href="https://github.com/OlegSkr/stadtradeln" target="_blank">GitHub</a><br />
<br />
App is hosted through the free plan at <a href="https://www.koyeb.com/" target="_blank">Koyeb</a> platform, many thanks for such a nice service!<br />
<br />
App deployment is done by using automated <a href="https://github.com/OlegSkr/stadtradeln/deployments" target="_blank">GitHub Deployments</a>, so no code manipulation can be done in between<br />
<br />
<img src="/static/img/api_logo_pwrdBy_strava_horiz_light.png" />
</body>
</html>
