<!doctype html>
<html lang="de">
<head>
<link rel="icon" href="/static/img/stravas.png">
<title>Stadtradeln - Strava Synchronizer</title>
<meta charset="utf-8">
</head>
<body>
<br />
App to replace manual input for<br />
<br />
<a href="https://www.stadtradeln.de/">https://www.stadtradeln.de/</a><br />
<br />
If you want this app to do it for you - click the following link:<br />
<br />
<a href="http://www.strava.com/oauth/authorize?client_id=59281&response_type=code&redirect_uri=https://strava-stadtradeln.koyeb.app/exchange_token&approval_prompt=force&scope=activity:read" target="_blank">CONNECT STRAVA TO STADTRADELN</a><br />
<br />
This App needs the permission to read the activities information, in order to get the number of kilometers.<br />
<br />
Source Code of this App can be found here:
<a href="https://github.com/OlegSkr/stadtradeln" target="_blank">GitHub</a><br />
<br />
</body>
</html>
