<!doctype html>
<html lang="de">
<head>
<link rel="icon" href="/static/img/stravas.png">
<title>Stadtradeln - Strava Synchronizer</title>
<meta charset="utf-8">
</head>
<body>
<br />
Last step is to add your Stadtradeln credentials to your strava account:<br />
<br />
<form>
	
	<input type="hidden" name="athlete_id" value="{{athlete_id}}" />
	
    <label for="username">Stadtraderln E-Mail: </label>
    <input type="text" name="username" required>
    <br>
    
    <label for="password">password: </label>
    <input type="password" name="password" required>
    <br>
	
    <input type="submit" value="Save">
	
</form>

</body>
</html>